/* Demo text decoration
------------------------- */
.demo--textdec {
    svg {
        display: block;
        width: 100%;
        margin: 0 auto;
        max-height: 100%;
        }
    text {
        font-family: 'Russo One';
        font-size:  9em;
        }
    }

.demo--textdec-stroke {
    text {
        fill: none;
        stroke: orangered;
        stroke-width: 4;
        }
    }

.demo--textdec-dashstroke {
    text {
        fill: none;
        stroke: steelblue;
        stroke-dasharray: 30 10;
        stroke-width: 4;
        }
    }

.demo--textdec-patterns {
    text {
        /*font-size: 12em;*/
        }
}

.t--anim {
    stroke-width: 7;
    stroke-opacity: .5;
    }
.t--water {
  stroke: darken(dodgerblue, 30%);
}

.t--fire {
  stroke: darken(red, 35%);
}

.demo--textdec-textfill {
    text {
        font-size: 18em;
        }
}