$bgcolor: crimson;
$transparent: rgba(255, 255, 255, 0);

$color-1: white;

$size: 8em;
$big-size: $size*2;
$min: 0;
$max: $size*.3;

.slide--gradient-dots {
  background:
    radial-gradient(circle,
      $color-1 $max,
      $transparent $max*1.1
      ) 0 0,
    radial-gradient(circle,
      $color-1 $max,
      $transparent $max*1.1
      ) $size $size
    ;
  background-size:  $big-size $big-size;
  background-color: $bgcolor;
  background-repeat: repeat;
  font: 10px/2 'Trebuchet MS', Verdana, sans-serif;
  }