$bgcolor: #3F0B1B;
$transparent: rgba(255, 255, 255, 0);

$color-1: #FFD462;
$color-1-t: transparentize($color-1, 1);
$color-2: #FC7D49;
$color-2-t: transparentize($color-2, 1);

$color-3: #CF423C;
$color-4: #7A1631;
$color-5: #3F0B1B;

$size: 4em;
$big-size: $size*2;
$min: $size*.16;
$max: $size*.7;

.slide--gradient-rounds {
  background:
    radial-gradient(circle at center,
      $color-1 $min,
      $color-2 $min, $color-2 $min*2,
      $color-3 $min*2, $color-3 $min*3,
      $color-4 $min*3, $color-4 $min*4,
      $color-5 $min*4, $color-5 $min*5,
      $transparent $min*5
      ),
    radial-gradient(circle at center,
      $color-1 $min,
      $color-2 $min, $color-2 $min*2,
      $color-3 $min*2, $color-3 $min*3,
      $color-4 $min*3, $color-4 $min*4,
      $color-5 $min*4, $color-5 $min*5,
      $transparent $min*5
      ) $size $size
    ;
  background-size:  $big-size $big-size;
  background-color: $bgcolor;
  background-repeat: repeat;
  font: 10px/2 'Trebuchet MS', Verdana, sans-serif;
  }